<%- include ('../admin/partials/header') %>
    <!-- Main Section -->
    <main>
        <section>
            <h1>Welcome to CarRent Dashboard</h1>
        </section>

        <section>
            <p>
                Using CarRent dashboard, admin will be able to do the following:
            </p>
        </section>

        <section>
            <ol>
                <li>Add new cars for rent</li>
                <li>Check available cars in store</li>
                <li>Know the quantity of cars in store</li>
                <li>Update car information in relation to:
                    <ul>
                        <li>Car information</li>
                        <li>Rented/Booked Cars</li>
                        <li>Returned Cars</li>
                    </ul>
                </li>
                <li>Update their own information and</li>
                <li>If you are a top level administrator:
                    <ul>
                        <li>Add new admin</li>
                        <li>Update information of other admin(s)</li>
                        <li>Remove one or more admin(s)</li>
                        <li>Change role of admin(s)</li>
                    </ul>
                </li>
            </ol>
        </section>

    </main>
    <!-- End of Main Section -->

<%- include ('../admin/partials/footer') %>