
    <!-- Footer -->
    <footer>
        <p>CarRent Admin Dashboard &copy; <script>
            document.write(new Date().getFullYear());
        </script></p>
    </footer>
    <!-- End of Footer Section -->

    <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>

    <script>
        CKEDITOR.replace('description');
    </script>

</body>
</html>